vc-camera {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

vc-camera > #capture-bar {
    position: absolute;
    height: 100%;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2em 2em 2em 0;

    background-color: rgba(0, 0, 0, 0.3);
}

vc-camera > #capture-bar > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 2em;
}