:root {
    --white: #ffffff;
    --grey-1: #EFF7F8;
    --grey-2: #CAD9DB;
    --grey-3: #93A4A6;
    --black: #102326;

    --accent-1: #9AF0EF;
    --accent-2: #F2A0CA;
    --accent-3: #B2F2A6;
    --accent-4: #BEB7F5;
    --accent-5: #F4ED98;
}