vc-app-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0.8em 1em;
    background-color: white;
    border-bottom: 0.2em solid var(--grey-2);
}

vc-app-bar turbo-icon {
    width: 2em;
    height: 2em;
}

vc-app-bar turbo-icon:hover {
    cursor: pointer;
}