.vc-timeline.vc-clip-timeline {
    position: absolute;
    right: 0;
    width: 0;
    overflow: visible;
    justify-content: center;
}

.vc-clip-timeline .turbo-drawer {
    height: 120%;
    left: 0;
    position: absolute;
}

.vc-timeline.vc-clip-timeline .scrubber-container {
    position: relative;
    border-radius: 0.35em;
    height: 3.8em;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    margin: 0.35em 0.7em;
}

.vc-clip-timeline .turbo-drawer .turbo-drawer-panel {
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem;
}

.vc-clip-timeline .turbo-drawer .clips-container {
    position: relative;
    border-radius: 0.35em;
    height: calc(6em - 2.4em);

    display: flex;
    flex-direction: row;

    flex-grow: 1;

    z-index: 2;
}

.vc-clip-timeline .top-drawer {
    bottom: 1em;
}

.vc-clip-timeline .play-button {
    height: 1.5em;
    padding: 0.2em;
}

.vc-clip-timeline vc-clip .vc-clip-content {
    border-radius: 0;
}

.vc-clip-timeline vc-clip:nth-child(2) .vc-clip-content {
    border-radius: 0.35em 0 0 0.35em;
}

.vc-clip-timeline vc-clip:last-child .vc-clip-content {
    border-radius:  0 0.35em 0.35em 0;
}

.vc-clip-timeline vc-clip:last-child:nth-child(2) .vc-clip-content {
    border-radius:  0.35em;
}