.vc-timeline {
    height: 10em;
}

.vc-timeline .scrubber-container {
    position: relative;
    border-radius: 0.35em;
    height: calc(6em - 2.4em);

    display: flex;
    flex-direction: row;

    flex-grow: 1;

    z-index: 2;
}

.vc-timeline .play-button {
    height: 1.5em;
    padding: 0.2em;
}

.vc-timeline vc-clip .vc-clip-content {
    border-radius: 0;
}

.vc-timeline vc-clip:nth-child(2) .vc-clip-content {
    border-radius: 0.35em 0 0 0.35em;
}

.vc-timeline vc-clip:last-child .vc-clip-content {
    border-radius:  0 0.35em 0.35em 0;
}

.vc-timeline vc-clip:last-child:nth-child(2) .vc-clip-content {
    border-radius:  0.35em;
}