vc-grouplist {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



vc-grouplist button.left {
    border: none;
}

vc-grouplist button.left:hover::after {
    content: "►";
    float: right;
    line-height: 100%;  /* Why tf is this needed ? */
}

vc-grouplist .bottom-sheet {
    border-top: var(--border-style);
    background-color: #f2f2f2;
    padding-bottom: 32px;
}


