.vc-scrubber.vc-clip-scrubber {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 0.2em;
    background-color: red;
    height: calc(100% + 1em);
    border-radius: 10px;

    z-index: 2;
}

.vc-clip-scrubber > * {
    position: absolute;
    transform: translateX(0.01em);
}

.vc-clip-scrubber > :first-child {
    top: -0.8em;

    width: 1em;
    height: 1em;
    padding: 0.5em;
}

.vc-clip-scrubber > :first-child > svg {
    width: 100%;
    height: 100%;
    fill: red;
}

.vc-clip-scrubber > div:last-child {
    top: -1.6em;
    width: 1em;
    height: 1em;

    border-radius: 2em;
    background-color: pink;
}