vc-shooting-timeline {
    position: fixed;
    /*
    rotate: -90deg;
    left: -40%;*/
}

.vc-shooting-timeline .turbo-drawer-panel {
    align-content: center;
}

.vc-timeline.vc-shooting-timeline .shooting-timeline-container {
    margin: 0.5em;
    justify-content: space-around;
}

.vc-timeline.vc-shooting-timeline .scrubber-container {
    position: relative;
    border-radius: 0.35em;
    width: 3.8em;
    height:100%;

    background-color: transparent;

    display: flex;
    flex-direction: column;
}

.vc-shooting-timeline .shooting-timeline-drawer {
    height: 120%;
    align-items: center;
}

.vc-shooting-timeline .shooting-timeline-drawer .shooting-timeline-drawer-panel-container {
    height: 100%;
    display: flex;
}

.vc-shooting-timeline .shooting-timeline-drawer .shooting-timeline-drawer-panel {
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem;
}

.vc-shooting-timeline .top-drawer {
    bottom: 1em;
}

.vc-shooting-timeline .play-button {
    height: 1.5em;
    padding: 0.2em;
}

.vc-shooting-timeline vc-clip .vc-clip-content {
    border-radius: 0;
}

.vc-shooting-timeline vc-clip:nth-child(2) .vc-clip-content {
    border-radius: 0.35em 0.35em 0 0;
}

.vc-shooting-timeline vc-clip:last-child .vc-clip-content {
    border-radius:  0 0 0.35em 0.35em;
}

.vc-shooting-timeline vc-clip:last-child:nth-child(2) .vc-clip-content {
    border-radius:  0.35em;
}