panel-thumb {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
}

panel-thumb > .icon {
    width: 1.5em;
    height: 1.5em;
}

panel-thumb.top-thumb {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 1em 1em 0 0;
    padding: 0.1em 2em;
}

panel-thumb.bottom-thumb {
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);

    border-radius: 0 0 1em 1em;
    padding: 0.1em 2em;
}

panel-thumb.left-thumb {
    right: 100%;
    bottom: 50%;
    transform: translate(0, 50%);

    border-radius: 1em 0 0 1em;
    padding: 1.5em 0.2em;
}

panel-thumb.right-thumb {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);

    border-radius: 0 1em 1em 0;
    padding: 1.5em 0.2em;
}