.capture-mode-slider {
    display: inline-flex;
    width: 6em;
    padding: 1em;
    margin: 0 -3em 0 -1.5em;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.capture-mode-slider > * {
    padding: 0 1em;
    color: white;
    cursor: pointer;
    user-select: none;
}

.capture-mode-slider > .active {
    font-weight: bold;
}