.vc-renderer {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 1.33;
}

.vc-renderer > * {
    position: absolute;
}

.vc-renderer > video {
    object-fit: contain;
}

.vc-renderer > .snapshot-effect-div {
    opacity: 0;
    background-color: black;
}