vc-home {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

vc-home .popup-card {
    display: flex;
    min-width: 200px;
    align-items: flex-start;
}

vc-home .popup-card turbo-input {
    width: 100%;
}

vc-home .title-div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

vc-home .title-div > :first-child {
    flex-grow: 1;
}