vc-playback {
    display: block;
    background-color: white;
}

vc-playback > div:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    height: 100%;
}

vc-playback vc-clip-renderer {
    width: 100%;
    height: fit-content;
    box-sizing: content-box;
    border: 1px solid #e1dfdf;
}

.over-screen-playback {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 300px;
    padding: 20px;
    border-radius: 16px;
}

.card-playback {
    position: relative;
    width: calc(100% - 2em);
    padding: 1em;
    border-radius: 0.4em;
}