vc-metadata-drawer {
    position: absolute;
    top: 100%;
}

vc-metadata-drawer .tabbed-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-bottom: 1em;
}

vc-metadata-drawer .tabbed-menu > .turbo-rich-element {
    font-size: 0.9em;
    color: #727377;
    padding: 0.5em 0.8em;
}

vc-metadata-drawer .tabbed-menu > .turbo-rich-element.selected-tab {
    color: black;
    font-size: 1em;
    background-color: #d4ffff;
    border-radius: 100px;
}

vc-metadata-drawer animated-content-switch {
    min-width: 100%;
}

vc-metadata-drawer .metadata-panel {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

vc-metadata-drawer turbo-input {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    overflow: visible;
    align-items: center;
}

vc-metadata-drawer turbo-input label {
    font-weight: 600;
    font-size: 0.9em;
    color: #727377;
    white-space:nowrap;
}

vc-metadata-drawer turbo-input turbo-rich-element {
    padding: 0;
    border: none;
}

vc-metadata-drawer .separator {
    height: 1em;
}

vc-metadata-drawer turbo-input input {
    font-size: 0.9em;
    font-weight: 600;
}

vc-metadata-drawer turbo-input div {
    padding: 0;
    border: none;
}

textarea {
    resize: none;
    border: none;
    padding: 0;
    max-height: 8em;
    min-height: 1em;
    min-width: 16em;
}