tabbed-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

tabbed-menu > h4 {
    font-size: 0.9em;
    color: #727377;

    padding: 0.5em 0.8em;
}

tabbed-menu > .selected-tab {
    color: black;
    font-size: 1em;
    background-color: #d4ffff;
    border-radius: 100px;
}