vc-card {
    position: absolute;

    width: 18em;
}

vc-card.selected {
    z-index: 2;
}

vc-card > .vc-clip-timeline {
    position: absolute;
    height: 100%;
    top: 0;
}

vc-card > .card-title {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    top: -2em;
    left: 0;
    right: 0;

    padding: 0;
}

vc-card > .card-title > turbo-input > turbo-rich-element {
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
    color: black;
}